*{
    margin: 0;
    padding: 0
}

body{
    margin: 0;
    padding: 0;
    background-image: url(Home\ background.jpg);
    color: #ffecd1;
}

nav{
    display: flex;
    background-color: #483c32;
    color: #ffecd1;
}

ul li a:hover{
    color: #483c32;
    background-color: #ffecd1;
    border-radius: 10px;
    padding: 10px;
    
}

nav span{
    display: flex;
}

.container{
    display: flex;
    justify-content: space-between;
}

h1{
    margin: 50px 0 0 5px;
    font-size: 20px;
    text-align: center;
    
}

#img1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px 0 10px 40px;
}

nav ul{
    display: flex;
    list-style: none;
    margin-top: 40px;
}

nav ul li{
   
    margin: 10px 0 0 80px;
    padding-right: 80px;
    font-size: 15px;
    justify-content: space-evenly;
    cursor: pointer;

}

.img2{

    width: 300px;
    height: 300px;
    border-radius: 30%;
    margin-left: 45px 0 20px 0;
    border: 2px solid black;
    box-shadow: 10px 20px 10px black;

}

.container2{
    display: flex;
    justify-content: space-evenly;
    padding: 70px;
    margin: 70px 0 0 40px;
    
}

span{
    margin-top:0 0 10px 0;
}

footer{
    text-align: center;
    color:#ffecd1;
    padding: 20px;
}

button{
    background-color: #ffecd1;
    color: black;
    border: 2px solid black;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}


button:hover{
    background-color: black;
    color: #ffecd1;
    cursor: pointer;
}

ul li a{
    text-decoration: none;
    color: #ffecd1;
    background-color: #483c32;
}

form{
    margin: 25px 0 0 50px;
}

#img2{
    width: 300px;
    height: 300px;
    border-radius: 30%;
    margin-left: 45px 0 20px 0;
    border: 2px solid black;
    box-shadow: 10px 20px 10px black;
}

.footerabout{
    text-align: center;
    font-size: 15px;
    color: #ffecd1;
    margin: 20px;
}

h6{
    text-decoration: none;
}


.navabout ul li a{
    display: flex;
    text-decoration: none;
    padding: 20px;
    margin: 0 0 30px 20px;
}

#liabout{
    font-size: 20px;
}

.navwork{
    padding: 0 0 30px;
    justify-content: center;
        
}

.navresume{
    padding: 0 0 30px;
    justify-content: center;
        
}

.workcontainer{
    display: flex;
    justify-content: center;
    margin: 90px;
    color: #483c32;
}

#footerwork{
    text-align: center;
    margin: 100px 0 0 0;
    color: #483c32;
}

.workbody{
background-image: url(work\ background.jpg);
background-repeat: no-repeat;
}

.footerresume{
    margin-top: 420px;
}